
<div class="container"> 


    <div class="span12">

        <p1 class="span5">
          <h1> Colaris: Connecting Clients and Consultants</h1>
      Our network provides a more efficient way for clients to find Consultants, and for Consultants to reach out to potential
      clients. Colaris allows clients to connect with consultants that better fit their consulting needs. Consultants
      gain exposure to a large network of businesses in need, spending more time on cases and less time searching for
      their next client. Sign up now and get connected to the network that is revolutionizing the consulting industry.
        </p1>



        <%= link_to '<button type="button" class=" create_account_formatting btn-custom">Create an Account</button>'.html_safe, '#' %>



    </div>



  <div class="container inner-container span7">
        <div class="span3">
        <h2 class="span3 button_label"> Consultants:</h2>

        <%= link_to '<button type="button" class="btn-custom">Find your next client</button>'.html_safe, '#' %>
        </div>

        <div class="span3">

        <h2 class="span3 button_label"> Businesses:</h2>

        <%= link_to '<button type="button" class="btn-custom">Hire an expert</button>'.html_safe, '#' %>
        </div>


  </div>


  </div>