<%= simple_form_for(@document, html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>


  <%= f.input :description, as: :text , input_html: {rows:"1"}%>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
