
<div class="row">
  <div class="span6 offset3">
    <div class="well">
        <p>
            <b>Description:</b>
            <%= @document.description %>
        </p>

        <%= link_to 'Edit', edit_document_path(@document) %> |
        <%= link_to 'Back', documents_path %>
    </div>
  </div>
</div>

