
<div class="container">

  <h1> Welcome to Colaris Consulting </h1>




  <%= link_to '<button type="button" class="btn-custom">Find A Consultant  </button>'.html_safe, '#' %>
  <%= link_to '<button type="button" class="btn-custom">Post a Case </button>'.html_safe, '#' %>
</div>